<div class="row">
	<div class="col-sm-8 offset-2">
		<div class="col-sm-4 offset-4">
			<h4><%= @template.name %></h4>
		</div>
		<div class="template-card">
		  <div class="card-body">
		    <%= @template.body %>
		  </div>
		</div>
	<br>
	<br>
	<br>
	<div class="btn-group">
			<%= link_to "Home", templates_path, class: "btn btn-primary" %> 
			<%= link_to "Edit", edit_template_path, class: "btn btn-success" %>  
			<%= link_to "Delete" ,template_path(@template), method: :delete, data:{confirm: "Are you sure?"}, class: "btn btn-danger" %>
	</div>
	</div>

</div>



