<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<div class="organization-title ">
				<h4>Organization Name:</h4>
				<h2><strong><%= @organization.name %></strong></h2>
			</div>

			<div class="link">
				<%= link_to "Add Template", new_organization_template_path(@organization), class: "btn btn-primary  d-inline" %>
				
				<%= link_to "Back to Home", root_path, class: "btn btn-primary d-inline" %>

				<%= link_to "Join Organization", organization_memberships_path(@organization), method: :post, class: "btn btn-success  d-inline" %>
			</div>
		</div>
	</div>
	

	<div class="col-sm-3">
		<div class="page-header">
			<div class="card">
			  <div class="card-header">
			    <h5><%= @organization.owner.email %></h5>	
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item"><h5>Members: <span class="badge badge-secondary"><%= @organization.users.count %></span></h5></li>
			    <li class="list-group-item"><h5>Templates: <span class="badge badge-secondary"><%= @organization.templates.count %></span></h5></li>
			    <li class="list-group-item">Vestibulum at eros</li>
			  </ul>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="page-header">
			<div class="text-sm-center card-header">
				<h2><strong>List of Templates</strong></h2>
			</div>
			<div class="card">
				<div class="card-body">
					<% if @organization.templates.any? %>
						<%  @organization.templates.each do |template| %>
							<h4><%= link_to template.name, organization_template_path(@organization, template) %></h4>
							<hr>	
						<% end %>
					<% else %>
						<h6>There are no Templates available yet! Create one using the "Add Template" button above..</h6>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
	





















	
		
