<div class="row">
	<!-- Displaying various links at the top of page-->
	<div class="col-sm-12">
		<div class="page-header">
			<div class="organization-title ">
				<h6>Organization Name:</h6>
				<h2><strong><%= @organization.name %></strong></h2>
			</div>

			<div class="links">
				<%= link_to "Back to Home", organizations_path, class: "btn btn-primary d-inline" %>
				
				<%= link_to "Add Template", new_organization_template_path(@organization), class: "btn btn-primary  d-inline" %>
				
				
				<%= link_to "Join Organization", organization_memberships_path(@organization), method: :post, class: "btn btn-success  d-inline" %>
			</div> <br>
			<h6>Organization Admin: <strong><%= @organization.owner.full_name %></strong></h6>

			<!-- These are links buttons that are exclusive only to the Admin/Creator of the Organization-->
			<div class="organization-links">
				<% if @organization.owner == current_user %>
				<%= link_to "Delete Organization", organization_path(@organization), method: :delete, data:{confirm: "Are you sure you want to delete (#{@organization.name}) ?"}, class: "btn btn-outline-danger float-right mr-2" %>

				<%= link_to "Edit Organization", edit_organization_path(@organization), class: "btn btn-outline-success float-right mr-2" %>

				<%= link_to "Create Category", new_organization_category_path(@organization), class: "btn btn-outline-success float-right mr-2" %>

				<% end %>
			</div>
		</div>
	</div>
	
	<!-- Displaying organization details -->
	<div class="col-sm-3">
		<div class="page-header">
			<div class="card">
			  <div class="card-header">
			    <h5>Organization Details</h5>	
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item"><h6>Members: <span class="badge badge-secondary"><%= @organization.users.count %></span></h6></li>
			    <li class="list-group-item"><h6>Templates: <span class="badge badge-secondary"><%= @organization.templates.count %></span></h6></li>
			    <li class="list-group-item">Vestibulum at eros</li>
			  </ul>
			</div>
		</div>
	</div>
	
	<!-- Listing Templates on the page -->
	<div class="col-sm-6">
		<div class="page-header">
			<div class="text-sm-center card-header">
				<h2><strong>List of Templates</strong></h2>
			</div>
			<div class="card">
				<div class="card-body">
					<% if @organization.templates.any? %>
						<%  @organization.templates.each do |template| %>
							<h4 class="text-capitalize"><%= link_to template.name, organization_template_path(@organization, template) %></h4>
							<hr>
							<blockquote class="blockquote mb-0">
						      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
						    </blockquote>	
						<% end %>
					<% else %>
						<h6>There are no Templates available yet! Create one using the "Add Template" button above..</h6>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<!-- Displaying list of categories that are in a specific Organization-->
	<div class="col-sm-3">
		<div class="page-header">
			<div class="category">
				<div class="card border-top-0 border-bottom-0">
					<% if @organization.categories.any? %>
						<div class="card-body">
							<% @organization.categories.each do |category|  %>
							 	<h5><%= link_to category.name, organization_category_path(@organization, category)%></h5>
							 	<hr>	
			 				<% end %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
	





















	
		
